body {
    background-color: #000000;
    color: white;
}
.section-wrapper {
    background-color: #2a2a2a;
    padding: 50px;
    margin: 20px 0;
    border-radius: 10px;
}
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px;
}
.home-section img {
    width: 200px;
    height: 200px;
    border-radius: 0px;
    margin-right: 20px;
}
.container { max-width: 800px; }
nav.navbar {
    background-color: #1a1a1a !important;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}
.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}
.footer a {
    color: #1DA1F2;
    margin: 0 10px;
    text-decoration: none;
}
.collapsible {
    background-color: #444;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
}
.active, .collapsible:hover {
    background-color: #555;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #2a2a2a;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #333;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #2a2a2a;
}

.timeline-container {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
}
.vis-timeline {
    background-color: #2a2a2a;
}